{% extends 'padre.html' %}
{% load static %} 
{% block contenidoQueCambia %}

<div class="container">
    <h1>Crear Estudiante</h1>
    <a href="{% url 'Estudiantes' %}" class="btn btn-primary">Ver Estudiantes</a>

    <form action="{% url 'EstudianteFormulario' %}" method="POST" class="m-4">
        {% csrf_token %}
        {{miFormulario.as_div}}
        <div class="col-12 m-2">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>

    </form>
</div>
{% endblock contenidoQueCambia %}