<!-- Navigation-->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <div style="padding-right:3rem;">
            <a class="navbar-brand text-warning fw-bold fs-2" href="#!">CodeLearn</a>
        </div>
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'Estudiantes' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'Profesores' %}">Profesores</a>
        <a class="navbar-brand" href="{% url 'Entregables' %}">Entregables</a>
        <a class="btn btn-danger" href="#signup">Comenzar!</a>
    </div>
</nav>